@media only screen and (min-width: 800px) {
html,
body * {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
}

.float-left{
  float: left;
  width: 50%;
  margin-left: 0 !important;
  height: 100%;
  background-color: blue;
  
}

.page-title{
  position: relative;
  font-size: 36px;
  color: white;
  margin-top: 3%;
  margin-left: 30%;
  width: 100%;
  font-weight: 400;
}

.page-subtitle{
  font-size: 18px;
  color: white;
  margin-left: 60%;
  font-weight: 100;
}


.page-illustration{
  margin-top: 25%;
  margin-left: 20%;
}

.login-container{
  float: right;
  /*background-color: grey;*/
  width: 35%;
  margin-right: 7%;
}

.page-altria-logo{
  margin-top: 10%;
  margin-left: 40%;
}

.login-form{
  height: 95%;
  padding-top: 30%;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 100%;
  height: 2.5rem;
  }

}


/* Phones */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
    font-size: 3vw !important;
  }
  .container{
    height: 100%;
  }

  .float-left{
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50;
  }


  .float-right{
    position: relative;
    width: 92%;
  }

  .login-form{
    position: relative;
    margin-top: 40%;
  }

  img{
    margin-left: 38%;
    margin-top: -30%;
  }

  .footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  }
}